<section>
    <h2 class="form-top">Add Certificate</h2>

    <form class="form-horizontal" role="form">
        <!--Choose App-->
        <div class="form-group title-header">
            <label for="chooseupdate" class="col-xs-3 control-label">Choose an service to be updated</label>
            <div class="col-xs-6">
                <select id="chooseupdate" class="form-control selectpicker" data-size="8" data-bind="selectPicker: chosenSptName, selectPickerOptions: { optionsArray: sptList }"></select>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default" data-bind="click: search"><span class="pointerLink glyphicon glyphicon-flash"></span></button>
            </div>
        </div>
        <!--CreatedBy-->
        <div class="form-group item-header">
            <label for="contact" class="col-xs-3 control-label">Contact</label>
            <div class="col-xs-6">
                <input class="form-control" id="contact" placeholder="Your alias" data-bind="value: contact" readonly="readonly">
            </div>
            <div class="col-xs-3">
                <span class="pointerLink glyphicon glyphicon-question-sign" data-bind="tooltip: {title: descContact, placement: 'right'}"></span>
            </div>
        </div>
        <!--RequestSubject-->
        <div class="form-group item-header">
            <label for="requestSubject" class="col-xs-3 control-label">RequestSubject</label>
            <div class="col-xs-6">
                <input class="form-control" id="requestSubject" data-bind="value: requestSubject">
            </div>
            <div class="col-xs-3">
                <span class="pointerLink glyphicon glyphicon-question-sign" data-bind="tooltip: {title: descRequestSubject, placement: 'right'}"></span>
            </div>
        </div>
        <!--Upload file-->
        <div class="form-group item-header">
            <label for="inputFile">File input</label>
            <input type="file" id="inputFile">
            <p class="help-block">Add your certificate file here.</p>
        </div>
        <!--Add button-->
        <div class="form-group form-bottom">
            <div class="col-xs-offset-4 col-xs-4">
                <div style="margin: 0px auto 10px; max-width: 300px;">
                    <button id="submit-btn" class="btn btn-default btn-block" data-bind="click: createEntity">Submit</button>
                </div>
            </div>
        </div>
    </form>
</section>