<section>
    <!--Back link-->
    <div>
        <h3><a class="pointerLink" data-bind="click: goBack">< Back</a></h3>
    </div>

    <h2>Create a Service Principal Template</h2> <br />

    <form class="form-horizontal" role="form">
        <!--CreatedBy-->
        <div class="form-group">
            <label for="contact" class="col-sm-2 control-label">Contact</label>
            <div class="col-sm-6">
                <input class="form-control" id="contact" placeholder="Your alias" data-bind="value: contact">
            </div>
        </div>
        <!--DisplayName-->
        <div class="form-group">
            <label for="displayName" class="col-sm-2 control-label">DisplayName</label>
            <div class="col-sm-6">
                <input class="form-control" id="displayName" placeholder="DisplayName" data-bind="value: displayName">
            </div>
        </div>
        <!--ServiceType-->
        <div class="form-group">
            <label for="serviceType" class="col-sm-2 control-label">ServiceType</label>
            <div class="col-sm-6">
                <input class="form-control" id="serviceType" placeholder="ServiceType" data-bind="value: serviceType">
            </div>
        </div>
        <!--AppPrincipalId-->
        <div class="form-group">
            <label for="appPrincipalId" class="col-sm-2 control-label">AppPrincipalId</label>
            <div class="col-sm-6">
                <input class="form-control" id="appPrincipalId" data-bind="value: appPrincipalId" readonly="readonly">
            </div>
        </div>
        <!--Environment-->
        <div id="env-group" class="form-group">
            <label for="environment" class="col-sm-2 control-label">Environment</label>
            <div class="col-sm-6 panel-group" id="environment">
                <!--PROD-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title env-title">
                            <a data-toggle="collapse" href="#collapse-prod">PROD</a>
                        </h4>
                    </div>
                    <!--PROD details-->
                    <div id="collapse-prod" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 panel-group" id="accordion">
                                    <!--Hostnames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-prod-hostname">Hostnames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-prod-hostname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="prod-hostname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'hostname')">Add Hostname</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ServicePrincipalNames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-prod-spname">AdditionalServicePrincipalNames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-prod-spname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="prod-spname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'spname')">Add ServicePrincipalName</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--AppAddress-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-prod-appaddress">AppAddress</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-prod-appaddress" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="prod-appaddress-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'appaddress')">Add AppAddress</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--PPE-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title env-title">
                            <a data-toggle="collapse" href="#collapse-ppe">PPE</a>
                        </h4>
                    </div>
                    <!--PPE details-->
                    <div id="collapse-ppe" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 panel-group" id="accordion">
                                    <!--Hostnames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-ppe-hostname">Hostnames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-ppe-hostname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="ppe-hostname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'ppe', 'hostname')">Add Hostname</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ServicePrincipalNames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-ppe-spname">AdditionalServicePrincipalNames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-ppe-spname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="ppe-spname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'ppe', 'spname')">Add ServicePrincipalName</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--AppAddress-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-ppe-appaddress">AppAddress</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-ppe-appaddress" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="ppe-appaddress-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'ppe', 'appaddress')">Add AppAddress</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallatin-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title env-title">
                            <a data-toggle="collapse" href="#collapse-gallatin">Gallatin</a>
                        </h4>
                    </div>
                    <!--Gallatin details-->
                    <div id="collapse-gallatin" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 panel-group" id="accordion">
                                    <!--Hostnames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-gallatin-hostname">Hostnames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-gallatin-hostname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="gallatin-hostname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'gallatin', 'hostname')">Add Hostname</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ServicePrincipalNames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-gallatin-spname">AdditionalServicePrincipalNames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-gallatin-spname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="gallatin-spname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'gallatin', 'spname')">Add ServicePrincipalName</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--AppAddress-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-gallatin-appaddress">AppAddress</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-gallatin-appaddress" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="gallatin-appaddress-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'gallatin', 'appaddress')">Add AppAddress</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Default-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title env-title">
                            <a data-toggle="collapse" href="#collapse-default">Default</a>
                        </h4>
                    </div>
                    <!--Default details-->
                    <div id="collapse-default" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 panel-group" id="accordion">
                                    <!--Hostnames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-default-hostname">Hostnames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-default-hostname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="default-hostname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'default', 'hostname')">Add Hostname</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ServicePrincipalNames-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-default-spname">AdditionalServicePrincipalNames</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-default-spname" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="default-spname-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'default', 'spname')">Add ServicePrincipalName</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--AppAddress-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse-default-appaddress">AppAddress</a>
                                            </h4>
                                        </div>
                                        <div id="collapse-default-appaddress" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="default-appaddress-section"></div>
                                                <a class="pointerLink center" data-bind="click: addItem.bind($data, 'default', 'appaddress')">Add AppAddress</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ExternalUserAccountDelegationsAllowed-->
        <!--<div class="form-group">
            <label for="externalUserAccountDelegationsAllowed" class="col-sm-2 control-label">ExternalUserAccountDelegationsAllowed</label>
            <div class="col-sm-offset-4 col-sm-6">
                <div class="btn-group btn-toggle" id="externalUserAccountDelegationsAllowed">
                    <button class="btn btn-default">YES</button>
                    <button class="btn btn-primary active">NO</button>
                </div>
            </div>
        </div>-->
        <div class="make-switch">
            <input type="checkbox" checked>
        </div>
        <!--MicrosoftPolicyGroup-->
        <!--<div class="form-group">
            <label for="microsoftPolicyGroup" class="col-sm-2 control-label">MicrosoftPolicyGroup</label>
            <div class="col-sm-offset-4 col-sm-6">
                <div class="btn-group btn-toggle" id="microsoftPolicyGroup">
                    <button class="btn btn-default">YES</button>
                    <button class="btn btn-primary active">NO</button>
                </div>
            </div>
        </div>-->
        <!--ManagedExternally-->
        <!--<div class="form-group">
            <label for="managedExternally" class="col-sm-2 control-label">ManagedExternally</label>
            <div class="col-sm-offset-4 col-sm-6">
                <div class="btn-group btn-toggle" id="managedExternally">
                    <button class="btn btn-default">YES</button>
                    <button class="btn btn-primary active">NO</button>
                </div>
            </div>
        </div>-->
        <!--Create&Clear button-->
        <div class="form-inline">
            <div class="col-sm-offset-2 col-sm-6">
                <button id="submit-btn" class="btn btn-default" data-bind="click: createEntity">Submit</button>
                <button id="clear-btn" class="btn btn-default" data-bind="click: clearInput">Clear</button>
            </div>
        </div>
    </form>
</section>