<section>
    <!--Back link-->
    <div>
        <h3><a class="pointerLink" data-bind="click: goBack">< Back</a></h3>
    </div>

    <h2>Create a Service Principal Template</h2> <br />

    <form class="form-horizontal" role="form">
        <!--DisplayName-->
        <div class="form-group">
            <label for="displayName" class="col-sm-2 control-label">DisplayName</label>
            <div class="col-sm-6">
                <input class="form-control" id="displayName" placeholder="DisplayName" data-bind="value: displayName">
            </div>
        </div>
        <!--AppClass-->
        <div class="form-group">
            <label for="appClass" class="col-sm-2 control-label">AppClass</label>
            <div class="col-sm-6">
                <input class="form-control" id="appClass" placeholder="AppClass" data-bind="value: appClass">
            </div>
        </div>
        <!--AppPrincipalId-->
        <div class="form-group">
            <label for="appPrincipalId" class="col-sm-2 control-label">AppPrincipalId</label>
            <div class="col-sm-6">
                <input class="form-control" id="appPrincipalId" data-bind="value: appPrincipalId" readonly="readonly">
            </div>
        </div>
        <!--Environment-->
        <div id="env-group">
            <!--Env selector-->
            <div class="form-group">
                <label for="environment" class="col-sm-2 control-label">Environment</label>
                <div class="col-sm-6 col-sm-offset-2 panel-group" id="environment">
                    <!--PROD-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title env-title">
                                <a data-toggle="collapse" href="#collapse-prod">PROD</a>
                            </h4>
                        </div>
                        <!--PROD details-->
                        <div id="collapse-prod" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-2 panel-group" id="accordion">
                                        <!--Hostnames-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse-prod-hostname">
                                                        Hostnames
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-prod-hostname" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="prod-hostname-section"></div>
                                                    <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'hostname')">Add Hostname</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--ServicePrincipalNames-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse-prod-spname">
                                                        AdditionalServicePrincipalNames
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-prod-spname" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="prod-spname-section"></div>
                                                    <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'spname')">Add ServicePrincipalName</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--AppAddress-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse-prod-appaddress">
                                                        AppAddress
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-prod-appaddress" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="prod-appaddress-section"></div>
                                                    <a class="pointerLink center" data-bind="click: addItem.bind($data, 'prod', 'appaddress')">Add AppAddress</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Create button-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button id="create-btn" class="btn btn-default" data-bind="click: createEntity" disabled>Create</button>
            </div>
        </div>
    </form>
</section>