<section>
    <div>
        <a data-bind="click: goBack" class="pointerLink">< Back</a>
    </div>
    <table>
        <tr>
            <td colspan="2">
                <label for="displayName">DisplayName</label>
                <input type="text" id="displayName" data-bind="value: displayName">
                <!--<div class="propertyError" data-bind="text: getPropertyError('DisplayName')"></div>-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="environment">Environment</label>
                <select id="environment" data-bind="options: availableEnvironment, value: environment"></select>
                <!--<div class="propertyError" data-bind="text: getPropertyError('Environment')"></div>-->
            </td>
        </tr>        
    </table>
    <button type="button" data-bind="click: createEntity">Create</button>
</section>
