<section>
    <!--Back link-->
    <div>
        <h3><a class="pointerLink" data-bind="click: goBack">< Back</a></h3>
        <!--<div class="propertyError" data-bind="text: getPropertyError('DisplayName')">kkkkkkkkkkk</div>-->
    </div>

    <h2>Create a Service Principal Template</h2> <br />

    <form class="form-horizontal" role="form">
        <!--DisplayName-->
        <div class="form-group">
            <label for="displayName" class="col-sm-2 control-label">DisplayName</label>
            <div class="col-sm-6">
                <input class="form-control" id="displayName" placeholder="DisplayName" data-bind="value: displayName">
                <!--<div class="propertyError" data-bind="text: getPropertyError('DisplayName')"></div>-->
            </div>
        </div>
        <!--AppClass-->
        <div class="form-group">
            <label for="appClass" class="col-sm-2 control-label">AppClass</label>
            <div class="col-sm-6">
                <input class="form-control" id="appClass" placeholder="AppClass" data-bind="value: appClass">
                <!--<div class="propertyError" data-bind="text: getPropertyError('AppClass')"></div>-->
            </div>
        </div>
        <!--AppPrincipalId-->
        <div class="form-group">
            <label for="appPrincipalId" class="col-sm-2 control-label">AppPrincipalId</label>
            <div class="col-sm-6">
                <input class="form-control" id="appPrincipalId" data-bind="value: appPrincipalId" readonly="readonly">
            </div>
        </div>
        <!--Environment-->
        <div id="env-group">
            <div class="form-group">
                <label for="environment" class="col-sm-2 control-label">Environment</label>
                <div class="col-sm-3">
                    <select class="form-control" id="environment" data-bind="options: availableEnvironment, value: environment, optionsCaption: 'Choose...'"></select>
                    <!--<div class="propertyError" data-bind="text: getPropertyError('Environment')"></div>-->
                </div>
            </div>
        </div>
        <!--test each-->
        <div id="test-each-area" class="jumbotron">
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </div>
        <!--add-->
        <button id="add-env-button" data-bind="click: addEnvironment">Add</button>
        <!--Create button-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button id="create-btn" class="btn btn-default" data-bind="click: createEntity" disabled>Create</button>
            </div>
        </div>
    </form>
</section>