<section>
    <h2 class="page-title">
        <span id="spt title" data-bind="text: spt.DisplayName"></span>
    </h2>
    <!--Back link-->
    <div>
        <h3><a data-bind="click: goBack" class="pointerLink">< Back</a></h3>
    </div>
    <form class="form-horizontal" role="form">
        <!--DisplayName-->
        <div class="form-group">
            <label for="displayName" class="col-sm-2 control-label">DisplayName</label>
            <div class="col-sm-6">
                <p class="form-control-static" id="displayName" data-bind="text: spt().DisplayName" />
            </div>
        </div>
        <!--AppClass-->
        <div class="form-group">
            <label for="appClass" class="col-sm-2 control-label">AppClass</label>
            <div class="col-sm-6">
                <p class="form-control-static" id="appClass" data-bind="text: spt().AppClass" />
            </div>
        </div>
        <!--AppPrincipalId-->
        <div class="form-group">
            <label for="appPrincipalId" class="col-sm-2 control-label">AppPrincipalID</label>
            <div class="col-sm-6">
                <p class="form-control-static" id="appPrincipalId" data-bind="text: spt().AppPrincipalID" />
            </div>
        </div>
        <!--Environment-->
        <div class="form-group">
            <label for="environment" class="col-sm-2 control-label">Environment</label>
            <div class="col-sm-6">
                <p class="form-control-static" id="environment" data-bind="text: spt().Environment" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2">
                <!--Update button-->
                <a class="btn btn-default" data-bind="attr: { href: '#request/update/' + spt().Id() }">
                    <span>Update</span>
                </a>
                <!--Cert button-->
                <a class="btn btn-default" data-bind="attr: { href: '#request/cert/' + spt().Id() }">
                    <span>Cert/Renewal</span>
                </a>
                <!--Delete button-->
                <a class="btn btn-danger" data-bind="click: deleteSpt">
                    <span>Delete</span>
                </a>
            </div>
        </div>
    </form>

</section>
