<section>
    <h2 class="page-title">
        <span data-bind="text: request().DisplayName()"></span>
    </h2>
    <!--Back link-->
    <div>
        <h3><a class="pointerLink" data-bind="click: goBack">< Back</a></h3>
    </div>
    <form class="form-horizontal" role="form">
        <!--DisplayName-->
        <div class="form-group">
            <label for="displayName" class="col-sm-2 control-label">DisplayName</label>
            <div class="col-sm-6">
                <p class="form-control-static" id="displayName" data-bind="text: request().DisplayName" />
            </div>
        </div>

        <div class="form-group need-auth-btns" style="display: none">
            <div class="col-sm-offset-2">
                <!--Update button-->
                <a class="btn btn-default" data-bind="attr: { href: '#request/update/' + request().RequestId }">
                    <span>Update Request</span>
                </a>
                <!--Cancel button-->
                <a class="btn btn-danger" data-bind="click: cancelRequest">
                    <span>Cancel Request</span>
                </a>
            </div>
        </div>
    </form>

</section>
