<section>
    <h1 class="page-header">AAD Onboarding Wiki</h1>
    <p class="lead">So you want to onboard your application to Azure Active Directory? Great, let's get started!</p>
    <div class="bs-callout bs-callout-info">
        <p>Do you already have an application provisioned? If so, you can update the app's <a href="#updateProperties">properties</a> or add a <a href="#addCert">certificate</a>.</p>
    </div>
    <div class="bs-callout bs-callout-warning">
        <p>If not, you will need to provide us with some information so we can get you up and running. Before that happens it is important to understand that this is <strong>not a one-size-fits-all process</strong>. There are many factors that will determine the best way to deploy your application and secure your resources; having a crystal clear picture of the scenario(s) relevant to your app will expedite the process and ensure the best solution is provided for you and your customers.</p>
    </div>
    <div class="home-btn-group form-bottom">
        <a href="#info" type="button" class="btn btn-default btn-lg btn-block">MORE INFO</a>
        <a href="#createRequest" type="button" class="btn btn-primary btn-lg btn-block">GET STARTED</a>
    </div>
</section>