<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!--navbar-header-->
        <div class="navbar-header">
            <a class="navbar-brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <i class="glyphicon glyphicon-cloud-upload"></i>
                <span>&nbsp AAD Onboarding</span>
            </a>
            <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--navbar-collapse-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <!--loading spinner-->
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="fa fa-spinner fa-spin fa-inverse fa-2x"></i>
            </div>
        </div>
    </nav>
    <!--container for other views-->
    <div class="container page-host" data-bind="router: { transition: 'entrance', cacheViews: true }"></div>
</div>
