<section>
    <h2>Service Principal Template</h2>
    <!--<div>
        <label for="filter">Find a Service Principal Template</label>
        <input type="text" id="filter" data-bind="value: filterText, valueUpdate: 'afterkeydown'"
               placeholder="spt name" type="text" />
    </div>-->
    <br />
    <div class="grid" data-bind="foreach: servicePrincipalTemplates">
        <div class="column">
            <a data-bind="attr: { href: '#spt/detail/' + Id() }">
                <span id="displayName" data-bind="text: DisplayName"></span>
            </a>
            <br />
        </div>
    </div>

    <a href="#/create">Create SPT</a>
</section>
